
.link{	
	color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
     }

 .container {
 	display: flex;
 	justify-content: space-between;
 }

 .menu {
 	display: flex;
  justify-content: space-between;
  width: 500px;
  list-style: none;
 }
.logo {
margin-top: 30px;
margin-left: 30px;
}
 .point {
  list-style: none;
 }

 .header {
 	background-image: url('./images/background.jpg');
 	height: 800px;
 	background-size: cover;
 	background-repeat: no-repeat;

 }

 .title {
font-size: 40px;
color: #ffffff;
margin-top: 400px;
margin-left: 80px;
 }

 .subtitle{
  color: #ffffff;
  font-size: 15px;
  margin-left: 200px;
}

.main{
  background: #a2ca28;
}

.icons {
	display: flex;
    justify-content: space-between;
    width: 750px;
    list-style: none;
    color: #ffffff;
    margin-left: 60px;
}

.icons_title{
  font-size: 24px;
}

.icons_text{
  font-size: 14px;
}

.explore_more{
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.small_title {
	color: #fd634e;
	font-size: 14px;
}

.display {
  display: flex;
  justify-content: space-between;
  margin-left: 150px; 
  margin-right: 150px
}

.big_title {
  color: #a2ca28;
  font-size: 35px;
   }

.white_block {
width: 800px;
height: 394px;
background-color: #ffffff;
    
}

.text_in_section {
font-size: 14px;

}

.readmore_in_section {
color: #a2ca28;
font-size: 14px;

}

.psevdo{
  background-image: url('./images/img1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 794px;
  height: 394px;
  position: relative;
}

.psevdo:before{
  content: '';
  display: block;
  background: rgba(0,0,0,0.5);
  width: 794px;
  height: 394px;
}

.text-hover{
  position: absolute;
  top: 1100px;
  left: 1200px;
}

.input {
width: 201px;
height: 49px;
border-radius: 2px;
background-color: #ffffff;
}

.input2 {
width: 340px;
height: 49px;
border-radius: 2px;
background-color: #ffffff;
}

.buttom {
width: 182px;
height: 49px;
border-radius: 3px;
background-color: #a2ca28;
}

 .footer {
display: flex;
justify-content: space-between;
background-color: #0d1119;
padding-left: : : 120px;
padding-top: : 100px;
margin: 0 auto;
 }

  .social-icon1{
  background-color: #2e3192;
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  position: relative;
}

.social-icon:before{
  content: '';
  background-image: url('./images/fb.svg');
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
}

  .social-icon2{
  background: #00aeef;
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  position: relative;
}

.social-icon:before{
  content: '';
  background-image: url('./images/tw.svg');
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
}

  .social-icon3{
  background-color: #ed3123;
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  position: relative;
}

.social-icon:before{
  content: '';
  background-image: url('./images/yt.svg');
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
}


  .social-icon4{
 background-color: #171a8f;
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  position: relative;
}

.social-icon:before{
  content: '';
  background-image: url('./images/In.svg');
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
}
